<?xml version="1.0"?>
<configuration>

  <system.web>
    <authorization>
      <allow roles="Administrator"/>
      <deny users="*"/>
    </authorization>
  </system.web>

  <location path="ManageUsers.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrator,Member" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
